@import url('https://fonts.googleapis.com/css?family=Raleway:300');
body{
  background-image: url(pulp_pixel_people_minimalism_pulp_fiction_66196_1366x768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#bio{
  text-align: center;
  margin:200px auto;
  font-family: 'Raleway', sans-serif;
  font-size:2.3em;
  position: relative;
}
strong{
  letter-spacing: 3px;
}
p,a{
  font-size: 0.4em;
}
a{
  font-size: 0.4em;
  text-decoration: none;
}
